API_ID= 25297643
API_HASH= f72c62f1eb9aeaf5feb35de38e3b30c3
BOT_TOKEN= 8025651270:AAFyo0as6Ecpm8mGwqRDloZwxsZiUNW2lbU
LOGGER_ID= -1002792317325
MONGO_DB_URI= mongodb+srv://mrinnocent3335:j1dkuLYccGZEJRGB@innocent.0hrdedj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= 