API_ID= 27897195
API_HASH= 66c0576cae67f1e590a7c83ef3270300
BOT_TOKEN= 8454177072:AAGXgwOeNSVTB02Db8GTt9BLtnrTB66I5h4
LOGGER_ID= -1002922178512
MONGO_DB_URI= mongodb+srv://mrinnocent3335:j1dkuLYccGZEJRGB@innocent.0hrdedj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGprWsAoc-U53XIULdYno072y1NHBCTUnPl_9_2EeBZgKIAK6AxKzdcERqgjtMO_aZijxRMgPjFx4rSyrgCENZb4rh4FaCYgFlKy0Slvj8p7xPrUnsj2kf1iPcidzydx8Ux6YE2s-zlp9ZHZhAONrFpYxX2sfWk0axuRJ8bkEqQ9kf8OGmmu9zX4FM0cyYZXGtUXzcbsV00f8YkipncKiU7nvvoF5V_kMWFRjlD18HvacFNPDdamc0mzopFaSL4AuszDe1UmIR4wdJbNBfUYszrKaluvYbus0wtS66aLZW9eaTevl5IuZqX5E8mjn1hSTc68BqZ2h-XbI9aDfA8wpRZfgAfZQAAAAG9xfrzAA